# week_09

## Ch.08 - Dictionary

### DIctionary
- 키(key) : 값(value)의 형태로 구성(영어사전의 단어 : 뜻과 유사)
- 키, 값을 통해 정보를 탐색
- 키, 값은 고유해야함
- 순서가 없음 == offset 없음
- 가변 객체(수정, 추가, 삭제 가능)
- dict, dict()로 타입변환
- {key1: value1, k2 : v2, ...}의 형태로 생성
- value에는 리스트, 튜플, 딕셔너리도 들어갈 수 있음

In [1]:
#빈 딕셔너리 생성
empty = dict()
empty = {}
empty

{}

In [2]:
a = [1, 2, 3]
set(a)
a = {}
a = set()
a

set()

#### ex 출석부 딕셔너리 만들기
- 이름, 학번, 학과
- 제임스 202201 경영학과
- 줄리엣 202202 아랍어과
- 로버트 202203 ELLT과

In [3]:
#이름이나 학과보다는 중복되지 않는 학번을 key값으로 설정하는 것이 좋음
attendance = {202201: ('제임스', '경영학과'), 202202: ('제임스', '경영학과'), 202203: ('제임스', '경영학과')}
attendance

{202201: ('제임스', '경영학과'), 202202: ('제임스', '경영학과'), 202203: ('제임스', '경영학과')}

In [4]:
#dict()
#이중 리스트 -> 딕셔너리
ex1 = [[1, 2], [3, 4], [5, 6]]
dict(ex1)

{1: 2, 3: 4, 5: 6}

In [5]:
#튜플 =-> 딕셔너리
ex2 = [(1, 2), (3, 4), (5, 6)]
dict(ex2)

{1: 2, 3: 4, 5: 6}

In [6]:
# 문자열(2글자) -> 딕셔너리
ex3 = ['ab', 'bc', 'cd']
dict(ex3) #['andd', 'bcdd', 'cddd']는 불가

{'a': 'b', 'b': 'c', 'c': 'd'}

In [7]:
# 중복된 키(1)가 있을 경우 가장 마지막 value(5)로 출력됨
ex2 = [(1, 2), (3, 4), (1, 5)]
dict(ex2)

{1: 5, 3: 4}

### 항목 조회 & 변경
- 키로 항목을 찾아 값을 할당한다.
- 이미 존재하는 키이면 값을 변경한다.
- 키가 없으면 새로 생성한다.

In [8]:
pythons = {
    'Champman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael'
}

In [9]:
#key로 항목 찾기(value값 반환)
pythons['Idle']

'Eric'

In [10]:
#key로 항목을 찾아 값을 할당(변경)
pythons['Palin'] = 'Josh'

In [11]:
#새로운 key:value 쌍 생성
pythons['Kim'] = 'Laura'

In [12]:
#key가 존재하는지 확인
#in을 사용
'Kim' in pythons

True

In [13]:
#value는 확인되지 않음
'Laura' in pythons

False

In [14]:
#get()
#key가 있을 경우 value를, 없을 경우 None을 반환하는 함수
print(pythons.get('Kim')) # value 반환
print(pythons.get('Lee')) # None 반환

Laura
None

In [15]:
pythons.get('Choi', 0) #key가 없을 때의 반환값을 지정할 수 있음, 이 경우 0반환

0

### keys(), values(), items()
- .keys(): 딕셔너리의 모든 key를 반환
- .values(): 딕셔너리의 모든 value를 반환
- .items(): 딕셔너리의 모든 key, value 쌍을 반환

In [16]:
#key()
pythons.keys()

dict_keys(['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim'])

In [17]:
#value()
pythons.values()

dict_values(['Graham', 'John', 'Eric', 'Terry', 'Josh', 'Laura'])

In [18]:
#items()
#순회할 때 자주 사용
pythons.items()

dict_items([('Champman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Eric'), ('Jones', 'Terry'), ('Palin', 'Josh'), ('Kim', 'Laura')])

In [19]:
#리스트와 유사해보이지만 리스트는 아님
#리스트로 형 변환 가능
#형 변환하지 않아도 순회 가능
type(pythons.keys())

dict_keys

In [20]:
[x[0] for x in pythons.items()] #key값을 추출하는 리스트 컴프리헨션

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Kim']

In [21]:
[x[1] for x in pythons.items()] #value값을 추출하는 리스트 컴프리헨션

['Graham', 'John', 'Eric', 'Terry', 'Josh', 'Laura']

In [22]:
#Quiz1. for loop으로 animal과 leg 쌍을 이어 딕셔너리 만들기
animal = 'cat snake monkey ant spider'.split()
leg = 4, 0, 2, 4, 8

In [23]:
animal_legs = {}
for k, v in zip(animal, leg):
    animal_legs[k] = v

animal_legs

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [24]:
#2.Quiz2. pythons에서 성 이름 ==> 리스트 컴프리헨션 [(성 앞글자, 이름의 글자 수)]
[(key, len(value)) for key, value in pythons.items()]

[('Champman', 6),
 ('Cleese', 4),
 ('Idle', 4),
 ('Jones', 5),
 ('Palin', 4),
 ('Kim', 5)]

### 값 수정, 삭제, 복제

In [25]:
others = {
    'Marx': 'Graucho',
    'Howard': 'Moe'
} #새로 추가할 key, value

In [26]:
#update()
#딕셔너리를 다른 딕셔너리에 병합하는 함수
pythons.update(others)
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura',
 'Marx': 'Graucho',
 'Howard': 'Moe'}

In [27]:
#다른 방법(python3부터 가능)
{**others, **pythons}

{'Marx': 'Graucho',
 'Howard': 'Moe',
 'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura'}

In [28]:
#값 삭제
#1. del
#key를 입력하면 해당 key: value쌍을 제거
del pythons['Kim']
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Marx': 'Graucho',
 'Howard': 'Moe'}

In [29]:
#2. pop()
#get과 유사하게 작동

pythons.pop('Marx') #Marx의 value를 반환하고 삭제
#pythons.pop('Marx', 0) # 이 경우 0을 반환

'Graucho'

In [30]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Howard': 'Moe'}

In [31]:
#clear()
#모든 값을 삭제
pythons.clear() #초기화 pythons = {}와 동일

In [32]:
#값 복제
#1. 할당
#같은 메모리 주소를 참조하기 때문에 한 변수에서 값이 변하면 다른 변수의 값도 변함
a = {1:2, 2:3, 3:4}
b = a
a[1] = 10
a, b

({1: 10, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [33]:
#2. 얕은 복사
#copy()
#copy()를 사용하면 두 딕셔너리의 항목들이 서로 영향을 받지 않음
b = a.copy()
a[1] = 100
a, b

({1: 100, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [34]:
#그러나 딕셔너리 내부의 가변객체(리스트)는 여전히 서로 영향을 받음
a = {1:[2, 2, 2], 2:[1,1,1]}
b = a.copy()
a[1][0] = 100
a, b #

({1: [100, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [35]:
#3. 깊은 복사
#deepcopy()
#deepcopy()를 사용하면 두 딕셔너리 내부의 가변객체도 서로 영향을 받지 않게 됨
import copy
b = copy.deepcopy(a)
a[1][0] = 9
a, b

({1: [9, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [36]:
#값의 비교는 같고(==) 다름(!=)만 비교 가능
print(a == b)
print(a != b)

False
True

In [37]:
#다른 연산자를 사용 시 오류 발생
a > b

TypeError: '>' not supported between instances of 'dict' and 'dict'

### ex
- 두 개의 리스트
- 명왕성: pluto 추가하기
- '성'으로 끝나지 않는 단어 삭제
  del sdict['태양'] 하드코딩 x
- sorted kor eng

In [38]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

solar = {}
for k, v in zip(solar_kor, solar_eng):
    solar[k] = v

solar['명왕성'] = 'pluto'

solar = {k:v for k, v in solar.items() if k.endswith('성')}
solar

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [39]:
#sorted
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

solar = {}
for k, v in zip(solar_kor, solar_eng):
    solar[k] = v

solar['명왕성'] = 'pluto'

solar = {k:v for k, v in solar.items() if k.endswith('성')}

kor_sorted = sorted(solar.items()) #한글(key)기준 정렬
eng_sorted = sorted(solar.items(), key=lambda x: x[1]) #영어(value)기준 정렬
kor_sorted, eng_sorted

([('금성', 'venus'),
  ('명왕성', 'pluto'),
  ('목성', 'jupiter'),
  ('수성', 'mercury'),
  ('천왕성', 'uranus'),
  ('토성', 'saturn'),
  ('해왕성', 'neptune'),
  ('화성', 'mars')],
 [('목성', 'jupiter'),
  ('화성', 'mars'),
  ('수성', 'mercury'),
  ('해왕성', 'neptune'),
  ('명왕성', 'pluto'),
  ('토성', 'saturn'),
  ('천왕성', 'uranus'),
  ('금성', 'venus')])

- 보충설명
  - 익명함수 lambda: 굳이 이름을 지정할 필요가 없거나 일회성으로 함수를 쓰려고 할 때 사용
  - sorted에 key값을 설정할경우 key를 기준으로 정렬됨

### 딕셔너리 컴프리헨션
- 리스트 컴프리헨션과 거의 동일
- 대괄호([]) -> 중괄호({})
- 값은 key: value 형태로

In [40]:
letter = 'apple'

{ch: letter.count(ch) for ch in set(letter)}

{'p': 2, 'a': 1, 'l': 1, 'e': 1}

In [41]:
vowels = 'aeiou'
word = 'onomatopoeia'

op1 = {v: word.count(v) for v in vowels} #1. vowels를 순회하는 방법
op2 = {ch : word.count(ch) for ch in set(word) if ch in vowels} #2. word를 순회하는 방법

op1, op2

({'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}, {'a': 2, 'o': 4, 'e': 1, 'i': 1})

In [43]:
#word를 순회하면서 1번과 동일하게 u를 포함시키기
op3 = {ch : word.count(ch) for ch in set(word) and vowels}
op3

{'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}

## Set
- 딕셔너리의 키만 모아놓은 형태(중복이 없음)
- 수학의 집합 개념 ==> 교집합, 합집합, 차집합, ... 등의 연산이 가능
- 데이터 자루와 같음
  - 순서가 없고 인덱싱이 불가능함

In [44]:
#빈 set 선언
empty1 = set()
empty2 = {} #set도 중괄호를 사용하지만 중괄호로만 선언하면 딕셔너리로 취급됨을 주의
empty1, empty2, type(empty2)

(set(), {}, dict)

In [45]:
a = {1, 2, 3} #쌍이 없는 중괄호는 set으로 인식
type(a)

set

In [46]:
#set()
#타입 변환
b = set([1, 2, 3, 3, 3, 3])
b

{1, 2, 3}

In [47]:
#값 추가
#add()
a.add(4)
a

{1, 2, 3, 4}

In [48]:
#삭제
#remove()
a.remove(4)
a

{1, 2, 3}

In [49]:
#discard()
a.discard(3)
a

{1, 2}

In [50]:
#remove는 없는 값을 제거하려고 하면 오류가 발생함
a.remove(3)

KeyError: 3

In [51]:
#discard는 오류가 발생하지 않음
a.discard(3)

In [52]:
a = {1, 2, 3}
b = {2, 3, 4}

In [53]:
#교집합: intersection (&)
a.intersection(b), a & b

({2, 3}, {2, 3})

In [54]:
#합집합: union (|)
a.union(b), a | b

({1, 2, 3, 4}, {1, 2, 3, 4})

In [55]:
#차집합: difference (-)
a.difference(b), a - b

({1}, {1})

In [56]:
#Quiz3.
drinks = {
    'martini':{'vodka', 'vermouth'},
    'black russian':{'vodka', 'kahlua'},
    'white russian':{'cream', 'kahlua', 'vodka'},
    'mahattan':{'rye', 'vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}
#vodka가 있는 키 골라내기(출력)
#보드카는 있는데 크림이나 버무스 있으면 프린트하지 않기

In [57]:
#논리 연산자 사용
{k for k, v in drinks.items() if 'vodka' in v and not('cream' in v or 'vermouth' in v)}

{'black russian', 'screwdriver'}

In [58]:
#집합 연산 사용
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)
#컴프리헨션 {k for k in drinks.items() if 'vodka' in v and not v & {'cream', 'vermouth'}}

black russian
screwdriver

In [59]:
#frozenset()
#set을 불변객체로 만드는 함수
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})

In [60]:
fs.add(1) #값을 수정할 수 없음

AttributeError: 'frozenset' object has no attribute 'add'